[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "==3.8.3"
isort = {extras = ["pyproject"],version = "==5.1.4"}
mypy = "==0.770"

[packages]
ffmpeg-python = "==0.2.0"
m3u8 = "==0.5.2"
python-dotenv = "==0.14.0"
requests = "==2.22.0"
boto3 = "==0.0.14"

[requires]
python_version = "3.8"

[scripts]
black = "black ."
flake8 = "flake8 ."
isort = "isort ."
mypy = "mypy ."
